*{
    margin: 0;
    padding: 0;
}
.headerc{
    height: 10vh;
    display: flex;
}
.bodee{
    display: flex;
    flex-direction: column;
    background: #E0E0E0;
    min-height: 90vh;
    margin-left: 4vw;
    margin-right: 4vw;
    
}
.drive h1{
    width: 16.56rem;
height: 8.43rem;
margin-left: 10vw;
padding-top: 10vh;
left: 58px;
top: 154px;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 2.2rem;
line-height: 118.19%;


letter-spacing: 0.105em;

color: #000000;

}
.cars{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
   
}
.car{
    cursor: pointer;
width: 70vw;
height: 11vh;
margin-bottom: 5vh;
background: #C4C4C4;
border-radius: 9px;
display: flex;
flex-direction: column;
text-decoration: none;

}
.car .carname {
width: 15.3rem;
height: 1.68rem;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 1.12rem;
line-height: 118.19%;
letter-spacing: 0.15em;
margin-top: 1.6vh;
margin-left: 3vw;
color: #000000;
text-decoration: none;
}
a{
    text-decoration: none;
}
.car .carnmbr {
    width: 15.3rem;
    height: 1.68rem;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 1.12rem;
    line-height: 118.19%;
    letter-spacing: 0.15em;
    margin-top: 1vh;
    margin-left: 3vw;
    color: #000000;
    text-decoration: none;
    }
    

.headerc img{
    margin-top: 1.5vh;
    margin-left: 0.6rem;
    margin-bottom: 2vh;
}
#toggl .line-1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  #toggl .line-2 {
    width: 0px;
    transform: translateX(25px);
    background-color: #f7ac1d;
  }
  #toggl .line-3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .burger{
      margin-top: 2vh;
      z-index: 15;
  }
  .links{
      opacity: 0%;
      transform: translateX(90%);
      width: 10%;
      margin-left: -10vw;
  }
  .burger div {
    background-color: #000000;
    width: 30px;
    height: 3px;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.4s ease;
    margin-top: 1vh;
    margin-left: 70vw;
    z-index: 15;
  }
  .addCar{
      height: 20vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
.addCar input{
    font-family: 'Roboto', sans-serif;
    height: 4vh;
    width: 70vw;
    margin-left: 10vw;
    border-radius: 8px;
    padding-left: 1vw;
    border: none;
    align-self: center;
    justify-self: center;
    margin-bottom: 2vh;
    background-color: #e0e0e011;
}
.addCar button{
    background-color: #388000;
    color: white;
    height: 4vh;
    width: 50vw;
    border-radius: 5px;
    border: none;
    margin-left: 20vw;
    margin-top: 3vh;
}
.burger{
    z-index: 15;
}
.hidden{
    opacity: 100%;
    display: flex;
flex-direction: column;
 height: 100vh;
 width: 70%;
 top: 0rem;
 right: 0;
  position: fixed;
  align-items: center;
  z-index: 5;
  backdrop-filter: blur(0.9rem);
  background-color: rgba(255, 255, 255, 0.699);
  overflow-x: hidden;
  transform: translateX(0%);
  justify-content: space-around;
  transition: 0.5s all ease-in-out;
}
.hidden img{
    height: 30vh;
    margin-top: 10vh;
    margin-bottom: -6vh;
}
.hidden a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    margin-top: -10vh;
}
.hidden #signol{
    margin-top: 8vh;
    font-weight: 400;
}