.map-bg{
    height: 65vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
}
.dest-input-box{
    background-color: #f2f2f2;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    height: 30vh;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 8px rgb(92, 92, 92);
    z-index: 25;
}
.dest-input-a{
    height: 2.5rem;
    border: none;
    width: 90%;
    align-self: center;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px rgb(194, 194, 194);
}
.dest-input-b{
    height: 2.5rem;
    border: none;
    width: 90%;
    align-self: center;
    cursor: pointer;
    margin: 2vh 0vh;
    border-radius: 0.5rem;
    color: white;
    background-color: #ffa800;
    box-shadow: 0px 0px 8px rgb(161, 161, 161);
}


